<!-- start wrapper -->
<div class="wrapper">
    <div class="row">
        <div id="top-menu" class="col-xs-12 col-md-12 col-lg-12">
            <p>em: contact&#64;jubiki.com &mdash; ph: &#40;757&#41; 319-0586 &mdash; hrs: monday - friday [9AM to 5pm EST]</p>
        </div>
    </div>
    
    <header class="site-header">
        <img src="{{site.url}}/img/panda-banner.svg">
    </header>
    <!-- start site -->
    <div id="page" class="site">
        <div class="site-content">
            <div class="small"></div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <nav>
                        <ul>
                            <li><a href='{{site.url}}/' class="gray">Home</a></li>
                            <li><a href="{{site.url}}/about.html">About</a></li>
                            <li><a href="{{site.url}}/blog">Blog</a></li>
                            <li><a href="{{site.url}}/gallery" class="purple">Gallery</a></li>
                            <li><a href="{{site.url}}/services.html" class="green">Services</a></li>
                            <li><a href="{{site.url}}/contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="social">
                        <ul>
                            <li><a href="https://www.youtube.com/channel/UC7FhJWmK4FsPfoH19zlPZsA/" class="hvr-wobble-top" target="_blank"><img src="{{site.url}}/img/youtube.svg"> </a> </li>
                            <li><a href="https://www.facebook.com/jubiki.studios/" class="hvr-wobble-top" target="_blank"><img src="{{site.url}}/img/facebook.svg"> </a></li>
                            <li><a href="https://twitter.com/JubikiStudios" class="hvr-wobble-top" target="_blank"><img src="{{site.url}}/img/twitter.svg"> </a> </li>
                            <li><a href="https://www.instagram.com/jubiki.studios/" class="hvr-wobble-top" target="_blank"><img src="{{site.url}}/img/instagram.svg"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="fifteen"></div>
            