body {
    background: #262626;
    font-family: arial, sans-serif, verdana;
    font-size: 16px;
    font-size: 1em;
    padding: 20px;
}

.wrapper {
    width: 60%; 
    max-width: 960px;
    margin: 0 auto;
    background: #fff;
}

.site {
    padding: 10px;
}

/* links */ 

a {
    text-decoration: none;
    color: #1c86d8;
}

a:active {
    color: #ee7816;
}

a:hover {
    color: #ee7816;
}

@-webkit-keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-wobble-top:hover, .hvr-wobble-top:focus, .hvr-wobble-top:active {
  -webkit-animation-name: hvr-wobble-top;
  animation-name: hvr-wobble-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* font */

@font-face {
    font-family: 'komika_axisregular';
    src: url('/font/KOMIKAX_-webfont.eot');
    src: url('/font/KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/KOMIKAX_-webfont.woff') format('woff'),
         url('/font/KOMIKAX_-webfont.woff') format('woff'),
         url('/font/KOMIKAX_-webfont.ttf') format('truetype'),
         url('/font/KOMIKAX_-webfont.svg#komika_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cartwheelregular';
    src: url('/font/sansani_fonts_-_cartwheel-webfont.woff2') format('woff2'),
         url('/font/sansani_fonts_-_cartwheel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Typography */

button, input, select, optgroup, textarea {
  color: #000000;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: bold;
    margin-bottom: 15px;
}

p {
  margin-bottom: .5em;
    margin-top: 0;
  &.def {
    clear: both;
  }
}

ol li {
    margin-left: 45px;
    margin-bottom: 15px;
}

dfn, cite, em, i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark, ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

legend {
    padding: 10px;
    background: #C3FE1B;
    border: 1px solid #A0D017;
    font-weight: bold;
}

fieldset {
    border-color: #992AF9;
}


h5 {
    font-size: 16px;
}

h2.purple-title {
    display: block;
    background: #992AF9;
    padding: 5px;
    color: #fff;
}

h2.gray-title {
    background: #4B4B4B;
    display: block;
    color: #fff;
    padding: 5px;
}

h2.black-title {
    background: #000000;
    display: block;
    color: #fff;
    padding: 5px;
}

h2.green-title {
    background: #C3FE1B;
    display: block;
    color: #000; 
    padding: 5px;
}

/* Site Header */

.site-header {
    background: #B90992;
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.site-header img {
    width: 100%;
}

/* navigation */ 

nav {
    padding: 10px;
}

nav ul {
    margin-block-start: 0px;
    margin: 0px;
    padding: 0px;
    
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav a {
    font-family: 'cartwheelregular';
    font-size: 1.2em;
    background: #6215AC;
    color: #ffffff;
    margin-left: 5px;
    padding: 10px;
}

nav a:hover {
    color: #000;
    background: #BCF20D;
    -webkit-transition: background .5s ease-in;
    -moz-transition: background .5s ease-in;
    -ms-transition: background .5s ease-in;
    -o-transition: background .5s ease-in;
    transition: background .5s ease-in;
}

/* social */

.social {
    padding: 0px;
    margin: 0px;
}

.social img {
    height: 35px;
    width: auto;
    margin: 0 auto;
}

.social ul {
    margin-block-start: 0px;
    margin: 0px;
    padding: 0px;
}

.social ul li {
    display: inline;
    float: right;
    text-align: left;
    padding-right: 5px;
}

.social li {
    margin-left: 5px;
}

.social img:hover {
    opacity: .5;
}


/* color */

.green {
    background: #C3FE1B;
}

.green h3 {
    background: #000;
    display: block;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
}

.green p {
    padding: 10px;
}

/* space */

.small {
    width: 100%;
    height: 20px;
}

/* purple menu */

.purple-menu {
    background: #000000;
    color: #ffffff;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.purple-menu:nth-of-type(2n) {
    background: #e8e8e8;
    color: #000000;
}

.purple-menu:nth-of-type(2n) h2 {
    background: #d1d1d1 !important;
    color: #000000;
    padding-top: 5px;
}

.purple-menu:nth-of-type(2n) a {
    color: #000000 !important;
    font-weight: bold;
}

.purple-menu:nth-of-type(2n) a:hover {
    font-style: italic;
}

.purple-menu h2 {
    background: #141414 !important;
    font-family: 'cartwheelregular';
    font-weight: 100;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
}

.purple-menu ul li {
    list-style-type: none;
}

.purple-menu ul {

    position: relative;
}

.purple-menu p {
    
    padding: 10px;
}

.purple-menu a {
    color: #ffffff;
    font-weight: bold;
}

.purple-menu a:hover {
    font-style: italic;
}

/* Footer */ 

footer  {
    text-align: center;
    font-size: 11px;
    background: #FEF10D; 
    padding-bottom: 10px;
    padding-top: 10px;
    color: #000;
    border-top: 10px solid #B90992;
}

/* table */

table  {
    width: 100%;
}

table th {
  text-align: left;
  background: black;
  color: white;
  padding: 5px;
}

table td {
  padding: 5px;
  white-space: normal;
  text-overflow: clip;
}

table td:nth-child(2n+1) {
  background: #c1c1c1;
}

table td:nth-child(2n+0) {
  background: #d7d7d7;
}

table a {
  color: black;
  font-weight: bold;
}

table a:visited {
  color: black;
  text-decoration: line-through;
  font-weight: normal;
  opacity: 1;
}

/* form */ 

button {
    background: inherit;
    border: none;
}

button.snipcart-add-item {
    border: 1px solid #51128D;
    border-radius: 3px; 
    padding: 5px; 
    margin-top: 10px;
    background: #6215AC;
    color: #BCF20D;
    font-family: inherit;
}

input[type="button"], input[type="reset"], input[type="submit"] {
    background: #C3FE1B;
    color: #000;
}

button:hover {
    cursor: pointer;
}

button.snipcart-add-item:hover {
    border: 1px solid #9AC70B;
    background: #C3FE1B;
    color: #000;
}

button.second {
    border: 1px solid #9AC70B;
    background: #C3FE1B;
    color: #000;
}

button.second:hover {
    border: 1px solid #51128D;
    background: #6215AC;
    color: #BCF20D;
}

input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {

}

button:active, button:focus {
}

input[type="button"]:active, input[type="button"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="reset"]:active, input[type="reset"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="submit"]:active, input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"] {
  color: #666;
    background: #eee;
  border: 1px solid #4B4B4B;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 10px;
  margin-right: 5px;
}

textarea {
  color: #666;
    background: #eee;
  border: 1px solid #4B4B4B;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 10px;
  margin-right: 5px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus {
  color: #111;
}

textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 90%;
}

/* contact form */ 

.contact-form label {
  clear: both;
  display: block;
}

.contact-form input {
  margin-bottom: 5px;
  background: #d7d7d7;
  border: 1px solid #4b4b4b;
  min-width: 40%;
  border-radius: 0;
}

.contact-form input[type="submit"] {
  min-width: 80px;
  border: none;
}

.contact-form textarea {
  background: #d7d7d7;
  border: 1px solid #4b4b4b;
}

/* img */

.gal-img {
    width: 100%;
}

#gallery {
    column-count: 3;
}

h2.gallery-title {
    clear: both; 
    width: 90%;
}

/* Pagination */

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }

/* Top Menu */

#top-menu {
    background: #262626;
    color: #ffffff;
    padding-bottom: 10px;
    font-size:  11px;
}

#top-menu a {
    color: #D2D7E4;
}

#top-menu button {
    color: #ffffff;
    font-size: 11px;
}

/* Blog */

.credits {
    font-size: 10px;
}

h2.post-title {
    line-height: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 100;
}

h1.post-title-single {
    margin: 0;
}

.featured-image {
    width: 100%;
}

.widget-title {
    margin: 0;
}

.box p {
    margin-top: 5px;
}

.post-categories a {
    background: #d2d7e4;
    padding: 5px; 
    color: #2b323e;
}

.author-bio {
    height: auto;
    min-height: 150px;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    clear: both;
}

.author-bio h3 {
    margin: 0; 
    padding: 5px;
    margin-bottom: 5px;
    background: #EE7816;
    color: #ffffff;
}

.author-img {
    padding-right: 5px;
    padding-bottom: 5px;
    width: 20%;
}

#search-container {
    width: 100%;
}

#search-container input {
    width: 100%;
}


/* lightbox */ 

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}