---
layout: default
title: Blog
---

{% for post in paginator.posts %}



<div class="row">
    <div class="col-xs-12 col-md-8 col-lg-8">
            <h1 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <p class="post-date">{{ post.date | date: "%B %-d %Y" }}</p>
        <img class="feat-img" src="{{ post.featured-image }}" alt="{{ post.featured-image-alt }}" />
            <p>{{ post.excerpt }}</p>
    </div>
    
    {% endfor %}
    
    <div class="col-xs-12 col-md-4 col-lg-4">
        
        <p>Browse by <a href="/blog/category.html">Categories</a> or by <a href="/blog/tag.html">Tags</a>.</p>
        
        <p><a href="/search.html">Search Posts</a></p>
        
        <p>subscribe <a href="{{ site.baseurl }}/feed.xml">via RSS</a></p>
        
        <!-- Begin Mailchimp Signup Form -->
        <form action="https://jubiki.us20.list-manage.com/subscribe/post?u=525c324e3e2a200c43132656a&amp;id=b8b4c8324f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            
            <h3>Subscribe to our mailing list</h3>
            <p>Interested in new products, coupons and deals? Sign up for our mailing list and recieve the latest news first!</p>
            <p style="font-size: 12px;"><span class="asterisk">*</span> indicates required</p>
            
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            
            <div class="mc-field-group">
                <label for="mce-FNAME">First Name </label>
                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            
            <div class="mc-field-group size1of2">
                <label for="mce-BIRTHDAY-month">Birthday </label>
                
                <div class="datefield">
                    <span class="subfield monthfield">
                        <input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="MM" size="2" maxlength="2" name="BIRTHDAY[month]" id="mce-BIRTHDAY-month" style="width: 25px;">
                    </span> / 
                    
                    <span class="subfield dayfield">
                        <input class="birthday " type="text" pattern="[0-9]*" value="" placeholder="DD" size="2" maxlength="2" name="BIRTHDAY[day]" id="mce-BIRTHDAY-day" style="width: 25px;">
                    </span> 
                </div>
            </div>
            
                <strong>Email Format </strong>
                <ul>
                    <li><input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0" style="width: 20px;"> <label for="mce-EMAILTYPE-0">HTML</label></li>
                    <li><input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1" style="width: 20px;"> <label for="mce-EMAILTYPE-1">Text</label></li>
                </ul>
            
            <div id="mce-responses" class="clear">
                
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_525c324e3e2a200c43132656a_b8b4c8324f" tabindex="-1" value="">
            </div>
            
            <div class="clear">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
        
        </form>
        
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
        <script type='text/javascript'>
            (function($) {
                window.fnames = new Array(); 
                window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);
        </script>
        
        <!--End mc_embed_signup-->
        
    </div>
</div>




<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        
        <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Previous</a>
    {% endif %}

    <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
    {% endif %}
  </div>
        
    </div>
</div>
