<!DOCTYPE html>
<html>
{% include head.html %}
<body>
	{% include header.html %}
	<div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            
            {{ content }}
            
        </div>
    </div>
		{% include footer.html %}
    
    <script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='c126afc2d7f55e8be085db94cb63297fbc8a192908d85ed0b3c26020702d0632';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
    
</body>
</html>